:root {
    --hue: 160;
}

* {
    color: #ececec;
    font-family: "Roboto", "Ubuntu", Arial, sans-serif;
}

html {
    min-height: 100vh;
    background-size: 400% 400%;
    animation: aiGradient 60s ease infinite;
}

body {
  color: #E6E6E6;
  background: #1a1a1a;
}

@keyframes aiGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

nav {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 1rem;
    justify-content: space-between;
    background: hsl(var(--hue), 100%, 10%);
}

.contained {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.p-4 {
    padding: 1rem;
}

.grid-layout {
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 1rem;
}

.intro {
    padding: .5rem 2rem;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #dcdcdc;
}

details {
    border: 2px solid hsl(var(--hue), 70%, 20%);
    margin-bottom: .25rem;
}

details:not([open]) {
    padding: 0.5rem 1rem;

    summary {
        cursor: pointer;
    }
}

summary {
    display: flex;
}

details[open] {
    summary {
        padding: 0.5rem 1rem;
        border-bottom: 2px solid hsl(var(--hue), 70%, 20%);
    }

    p.description {
        padding: 1rem 1.5rem;
        margin: 0;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        line-height: 1.6;
        font-size: 1.25rem;
    }
}

.medium {
    color: #ffc061;
}
.high {
    color: #ff7171;
}
.low {
    color: #adffaf;
}

input, select {
    border: 2px solid hsl(var(--hue), 100%, 50%);
    padding: 0.5rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    margin-inline-start: 1rem;
    background: rgba(0, 0, 0, 0.1)
}

.links {
    display: flex;
    gap: 1rem;
}

.brand {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.profession-list {
    container-type: inline-size;
    container-name: professions;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
}

@container professions (width < 800px) {
    .grid {
        grid-template-columns: 1fr;
    }
}