:root {
    --hue: 210;
}

* {
    /* background: #1C1F24; */
    /*background: radial-gradient(circle at 30% 30%, #2A2B32 0%, #1A1B1E 60%, #0F1012 100%);*/
    background-size: cover, 100px 100px;
    color: #ececec;
    font-family: "Roboto", "Ubuntu", Arial, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(-45deg, #0a0b0f, #010e04, #010313, #130109);
  background-size: 400% 400%;
  animation: aiGradient 60s ease infinite;
  color: #E6E6E6; /* Text color for readability */
}

@keyframes aiGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

nav {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 1rem;
    justify-content: space-between;
    background: hsl(var(--hue), 100%, 10%);
}

.contained {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.p-4 {
    padding: 1rem;
}

.grid-layout {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1rem;
}

.intro {
    padding: .5rem 2rem;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #dcdcdc; /* Slightly lighter text for intro */
}