---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main>
	<h1>Privacy Policy</h1>

    This website stores no personal data aside from any collected by the advertising provider.
  </main>
</Layout>
